<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <ngx-charts-bar-horizontal-stacked
                [view]="view"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
            </ngx-charts-bar-horizontal-stacked>
        </div>
    </div>
</div>


